<!DOCTYPE html>
<html>
<head>
<link media='screen' type='text/css' rel='stylesheet' href='http://l.bst.126.net/rsc/js/pagelayer/pagelayer.css?0011'/><script type='text/javascript' src='http://l.bst.126.net/rsc/js/pagelayer/pagelayer.js?0011'></script>

<meta name="themename" content="29002"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ doc.name }}</title>
<link rel="shortcut icon" href="http://www.lofter.com/favicon.ico">
<link rel="alternate" type="application/rss+xml" href="http://pythonfans.lofter.com/rss">
<link href="/static/document/css/5629533619073584608.css" rel="stylesheet" type="text/css" />
{% block style %}
    <style>
    a, a:hover, .day{color:#828d95;}
    .sidelist{min-width:535px;}
    .sidelist li a, .tag a, .active{background-color:#828d95;}
    .day{ border-color:#828d95;}
    .text blockquote{ border-left-color:#828d95;}
    body{background-color:#dfdfe1;}
    #morecontent_frame{margin-top:30px;}
    body{background-image:url("/static/document/img/5629503932259639055.png");}
    body{background-attachment:fixed;}
    .notes .action{width:500px;}
    #comment_frame{width:530px;}
    .video object,.video embed{width:530px;height:441px;}

    </style>
{% endblock %}
</head>
<iframe id="control_frame" allowtransparency="true" scrolling="no" frameborder="0" style="position:fixed;_position:absolute;clear:both; width: 425px; height: 32px; z-index:1337; top:0; right:15px;zoom:1; border:0px; background-color:transparent; overflow:hidden;" src="http://www.lofter.com/control?blogId=4053254&postId=109540511" ></iframe>
<iframe style="display:none" src="http://l.bst.126.net/rsc/htm/music.html" ></iframe>
<body>
<div class="h95"></div>
<div class="box wid700  "> 
    <div class="selfinfo">
        
            <div class="logo">
                <a href="/"><img src="http://imgsize.ph.126.net/?imgurl=http://l.bst.126.net/rsc/img/ava/110.png_96x96x0x90.jpg"><i></i></a>
            </div>
            <h1><a href="/">{% firstof user.get_short_name user.get_username %}</a></h1>
            <div class="text"></div>
    </div>
    <div class="sch">
        <form action="/search" method="get">
            <input value="搜索" type="text" name="q" onFocus="if(this.value=='搜索'){this.value='';}" onBlur="if(this.value==''){this.value='搜索';}" class="txt"/>
        </form>
    </div>
    <ul class="sidelist">
             
        
        <li><a href="http://www.lofter.com/message/pythonfans" rel="nofollow">私信</a></li>
        
        
        <li><a href="http://pythonfans.lofter.com/view">归档</a></li>
        <li><a href="http://pythonfans.lofter.com/rss">RSS</a></li>
    </ul>
</div>
<div class="postwrapper box wid700  ">
    
        
            <div class="block article">
                
                    <div class="side">
                        <div class="day"><a href="http://pythonfans.lofter.com/post/3dd906_687749f">14</a></div>
                        <div class="month"><a href="http://pythonfans.lofter.com/post/3dd906_687749f">01</a></div>
                    </div>
                
                <div class="main">
                    <div class="content">
                        <div class="text">
                            <h2><a href="{{ request.path }}">{{ doc.name }}</a></h2>
                                {% block content %}
                                {{ doc.text }}
                                {% endblock %}
                        </div>
                    </div>

                        <div class="tag">
                            {% for tag in tags %}
                                ● {{ tag.name }}
                            {% endfor %}
                        </div>


                </div>
            </div>
                    <div class="block">
                        <div class="main comment">
                            <h3 class="nctitle">评论</h3>
                        </div>
                    </div>
                    <div class="block">
                        <div class="main comment">
                            <h3 class="nctitle">当前评论</h3>
	<ol class="notes">
        {% for comment in comments %}
            <li class="note like">
                <span class="action">
                        {{ comment.text }}
                        </span><div class="clear"></div>
            </li>
        {% endfor %}
	</ol>

                        </div>
                    </div>
            <div class="page">

                <div class="prev {% if prev_doc_url %} active {% else %} disable {% endif %}"><a href="{{ prev_doc_url }}" id="__prev_permalink__"><span class="cap"></span><span class="arrow"></span><span class="title">上一篇</span></a></div>
                
                <div class="next {% if next_doc_url %} active {% else %} disable {% endif %}"><a href="{{ next_doc_url }}" id="__next_permalink__"><span class="cap"></span><span class="arrow"></span><span class="title">下一篇</span></a></div>
                
            </div>

</div>
<div class="footer"><span title="Copyright" style="cursor:pointer;">©</span> <a href="http://pythonfans.lofter.com/">打盹的小龙</a> | Powered by <a href="http://www.lofter.com">LOFTER</a></div>

<link media='screen' type='text/css' rel='stylesheet' href='http://l.bst.126.net/rsc/css/theme/r/pagephotoshow.min.css?0002'/>
</body>
</html>
